<div class="container">
    <h1>About us </h1>
    <p>Car Rental Service is specialized to help people to list their car to make extra money while they do not use their car and to rent a car when they need to drive </p>
    <p>If you have questions feel free to contact us by clicking link below</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved.Copyright &copy 2021</small>
</div>